<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1><%= data.name %></h1>
    <img src="<%= data.img %>">
    <ul>
        <li><strong>Type:</strong>
        <% data.type.forEach((type) => { %>
            <%= type %>
        <% }) %>
        </li>
    </ul>
    <h2>STATS</h2>
    <p><strong>HP:</strong><%=data.stats.hp %></p>
    <p><strong>ATTACK:</strong><%=data.stats.attack %></p>
    <p><strong>DEFENSE:</strong><%=data.stats.defense %></p>
    </div>
    
</body>
</html>