<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <div class="container">
        <h1><%= budget.name %></h1>
        <a class="button" href="/">Back</a>
        <p>date <br>
        <%= budget.date %> 
        </p>
        <p>
        name <br>
        <%= budget.name %> 
        </p>
        <p>
        from <br>
        <%= budget.from %> 
        </p>
        <p>
        amount <br>
        <%= budget.amount %> 
        </p>
        <p>
        tags <br>
        <%= budget.tags %> 
        </p>
    </div>
    
</body>
</html>