<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h3>Edit Product</h3>
    <div class="container-container">
        <div class="new-edit-container">
            <form action="/products/<%= product.id %>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value="<%= product.name %>"/><br />
                Description: <input type="text" name="color" value="<%= product.description %>"/><br />
                Image URL: <input type="text" name="img" value="<%= product.img %>"/><br />
                Price: <input type="text" name="price" value="<%= product.price %>"/><br />
                QTY: <input type="text" name="qty" value="<%= product.qty %>"/><br />
                <input type="submit" name="" value="Update Product" />
            </form>
        </div>
    </div>
</body>
</html>