<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>
  <%- include('../partials/header.ejs') %>
    <a href="/products/new">Add New Product</a>
    <div class="container-container">
      <div class="container">
        
          <% for(let i = 0; i < products.length; i++){ %>
            <div class="product-box">
              <p><strong><%=products[i].name; %></strong> <br>
              PRICE: $<%=products[i].price; %> <br>
              QTY: <% if ( products[i].qty <= 0) { %>
                OUT OF STOCK
              <% } else { %>
                <%= products[i].qty %>
                <% } %> <br>
              <img src="<%=products[i].img; %>"> <br>
              <a href="/products/<%= products[i].id %>">See Product</a>
            </div>
        <% } %>
        
      </div>
    </div>
</body>