<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1><%= product.name %></h1>
    <img src="<%= product.img %>"> <br>
    DESCRIPTION: <%= product.description %> <br>
    PRICE: <%= product.price %> <br>
    QTY: <% if ( product.qty <= 0) { %>
      OUT OF STOCK
    <% } else { %>
      <%= product.qty %>
      <% } %> <br>
    
    <a href="/index/<%= product.id %>/edit">Edit Product</a>
    <form action="/index/<%= product.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
      </form>
      <form action="/index/<%= product.id %>/buy?_method=PUT" method="POST">
        <input type="submit" value="BUY" />
      </form>
</body>
</html>